<footer>
  <div class="icon-container">
  	<a href="https://www.facebook.com/britanny.cadle.1">
  		<img src="/lib/img/icon-fb.png" class="social-img fb-icon-img" alt="facebook">
  	</a></div><!-- footerfb -->

  <div class="icon-container">
  	<a href="https://www.linkedin.com/in/britanny-tarantino-499a50108/">
  		<img src="/lib/img/icon-in.png" class="social-img in-icon-img" alt="linkedin">
  	</a></div><!-- footerin -->

  <div class="icon-container">
    <a href="https://freephotos.cc/">
      <img src="/lib/img/zallery/cc.png" class="social-img in-icon-img" alt="cc">
    </a></div><!-- footercc -->

  <div  class="icon-container">
  	<a href="http://roadtohire.org/">
  		<img src="https://daks2k3a4ib2z.cloudfront.net/5750a0483c241ee12e0292b4/587a69bbbec7bc4e039d1d24_logo-white.svg" class="social-img rth-icon-img" alt="roadtohire logo">
  	</a>
  </div><!-- footerrth -->
  <p>This webpage is for educational purposes only.</p>
</footer>	