<footer>
  <div class="container">
  	<a href="https://www.facebook.com/britanny.cadle.1"><img src="http://www.iconninja.com/files/424/88/63/facebook-black-icon.png" alt="facebook"></a>
  	<a href="https://www.linkedin.com/in/britanny-tarantino-499a50108/"><img src="https://www.strandmark.net/linkedin.png" alt="linkedin"></a>
  	<a href="http://roadtohire.org/"><img src="https://daks2k3a4ib2z.cloudfront.net/5750a0483c241ee12e0292b4/587a69bbbec7bc4e039d1d24_logo-white.svg" alt="roadtohire logo"></a>
  </div><!-- container -->
</footer>	