<header>
    <div class="container align-left">
      <h1><img src="biography/lib/img/lo.png" class="logo"></h1>
      <nav>
        <ul class="topnav">
          <li><a href="biography/">home</a></li>
          <li>
            <a href="biography/biography.html" class="dropdown-button">biography</a>
            <ul class="topnav-dropdown">
              <li><a href="biography/hobbies.html">hobbies</a></li>
              <li><a href="biography/lifegoals.html">lifegoals</a></li>
            </ul> <!--dropdown -->
          </li>
          <li><a href="biography/gallery.html">gallery</a></li>
          <li><a href="biography/resume.html">resume</a></li>
          <li><a href="biography/codech.html">code Challenges</a></li>
          <li><a href="biography/contact.html">contact Page</a></li>
        </ul>  <!-- topnav -->
      </nav>
    </div> <!--container-->
</header>